html, body{
	margin: 30px;
	padding: 0px;
	font-family: Arial, Tahoma;
	color: #444;
	background-color: #F0FFFF;
align-content: center;

}

h1{
	font-size: 90px;
	text-align: center;
}


#year{
	font-size: 80px;
	padding: 20px;
	text-align: center;
}

#tform{
	font-size: 40px;
	padding: 20px;
	text-align: center;
}


#container {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #FFF8DC; /* Цвет фона */
    color: black; /* Цвет текста */
    width: 100%; /* Ширина слоя */
	text-align: center;

}

.icon{
	width: 16px;

}

.s_icon{
	padding: 8px;
	font-size: 16px;
}

#info{
	padding: 20px;
	font-size: 22px;
}

#info li{
	font-size: 18px;
	padding: 12px;
}

#typeyear{
	font-size: 30px;
}
#resetyear{
	font-size: 30px;
}